# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
WhiteCarEnemy.cs
TaxiEnemy.cs
RedCarEnemy.cs
PoliceEnemy.cs
obj/Debug/MyGame.csproj.FileListAbsolute.txt
obj/Debug/MyGame.csproj.CoreCompileInputs.cache
obj/Debug/MyGame.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyGame.csproj
MotoEnemy.cs
LevelController.cs
IPoolable.cs
GenericPool.cs
EnemyMovement.cs
EnemyFactory.cs
BaseEnemy.cs
.vs/MyGame/v17/DocumentLayout.json
.vs/MyGame/v17/DocumentLayout.backup.json
.vs/MyGame/v17/.suo
.vs/MyGame/FileContentIndex/dba33d3e-61b5-4545-a1bc-ef0d34b071da.vsidx
.vs/MyGame/FileContentIndex/d5bc6fbc-0cf7-453d-b835-8ce893fe1e19.vsidx
.vs/MyGame/FileContentIndex/c1ce685d-8dfa-4d92-bb79-1ccba26aaf92.vsidx
.vs/MyGame/FileContentIndex/5ab8438d-de48-4e5d-b53d-9b0c5d81ff63.vsidx
.vs/MyGame/FileContentIndex/177bdf09-4dee-4ef8-8bd5-0bdb1dd79bd1.vsidx
.vs/MyGame/v17/DocumentLayout.json
